.add-button {
    background-color: blueviolet;
    border: none;
    color: white;
    width: 95%;
    margin-top: 20px;
}

.add-button:hover, .add-button:focus {
    background-color: blueviolet;
    filter: brightness(85%);
}