.card-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search-area form .row {
  width: 100%;
  margin: 0;
}

.search-area .filter-multi-select {
  width: 100% !important;
}

.search-area .filter-multi-select .filter-option {
  color: white;
}
